/**
 * Component: PlaceHolder
 */
@include comp('place-holder') {
  position: relative;

  color: white;
  box-shadow: var(--depth-8);

  @include elem('wrapper') {
    background-color: rgba($color: #ffb74d, $alpha: 0.75);
  }

  @include elem('icon') {
    font-size: 128px;
  }
}
