chromedriver_cdnurl "http://npm.taobao.org/mirrors/chromedriver"
electron_mirror "http://npm.taobao.org/mirrors/electron"
operadriver_cdnurl "http://npm.taobao.org/mirrors/operadriver"
phantomjs_cdnurl "http://npm.taobao.org/mirrors/phantomjs"
sass_binary_site "http://npm.taobao.org/mirrors/node-sass"
sqlite3_binary_site "http://npm.taobao.org/mirrors/sqlite3"
