body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@include define-atom('init') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
}

/**
 * Component: App
 */
@include comp('app') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
}
