body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@include define-atom('init') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
}

/**
 * Component: App
 */
@include comp('app') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 100vh;

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      background-color: theme($theme, 'bg');
    }
  }
}
