/**
 * Component: DevTools
 */
@include comp('dev-tools') {
  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding: 0 calc(var(--gap-base) * 2px);
  border: 1px solid currentColor;

  font-size: calc(var(--font-size-caption) * 1px);
  background-color: var(--color-background-lower);

  @include elem('route') {
    padding: 0 calc(var(--gap-base) * 2px);
    margin-left: calc(var(--gap-base) * 2px);
    border-radius: calc(var(--input-radius) * 1px);
    background-color: var(--color-background-normal);
  }
}
