/**
 * Component: DevTools
 */
@include comp('dev-tools') {
  z-index: var(--z-index-bar);
  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  width: calc(var(--button-height-small) * 1px);
  &:hover {
    width: auto;
  }
  overflow: hidden;

  padding-right: calc(var(--gap-base) * 2px);
  border: 1px solid currentColor;

  white-space: nowrap;
  font-size: calc(var(--font-size-caption) * 1px);
  background-color: var(--color-background-lower);

  @include elem('settings') {
    position: fixed;

    z-index: -2;
    top: 0;
    bottom: calc(var(--button-height-small) * 1px);
    left: 0;
    right: 0;
    overflow: auto;

    padding: calc(var(--gap-base) * 4px);
    color: var(--color-white);

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--color-black);
      opacity: 0.8;
    }
  }

  @include elem('settings-content') {
    position: relative;
  }

  @include elem('route') {
    padding: 0 calc(var(--gap-base) * 2px);
    margin-left: calc(var(--gap-base) * 2px);
    border-radius: calc(var(--input-radius) * 1px);
    background-color: var(--color-background-normal);
  }
}
