/**
 * Component: Text Field
 */
@include comp('text-field') {
  position: relative;

  display: grid;

  grid-template: auto / auto;
  grid-gap: calc(var(--form-widget-label-gap) * 1px);

  justify-self: normal;
  align-content: start;
  align-items: start;

  font-size: calc(var(--form-widget-font-size) * 1px);
  font-weight: var(--form-widget-font-weight);
  line-height: calc(var(--form-widget-line-height) * 1px);
  color: inherit;
  white-space: nowrap;

  @include when('disabled') {
    opacity: var(--input-disabled-opacity);
  }

  @include elem('label') {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    color: var(--color-foreground-secondary);
    font-weight: var(--form-widget-label-font-weight);
  }

  @include when('inline-label') {
    grid-template: auto / max-content 1fr;
    @include elem('label') {
      height: calc(var(--text-field-height) * 1px);
    }
  }

  @include elem('container') {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    height: calc(var(--text-field-height) * 1px);
    margin: 0;
    border: 1px solid var(--color-foreground-secondary);
    border-radius: calc(var(--text-field-radius) * 1px);
    color: var(--color-foreground-primary);
    background-color: var(--color-background-higher);

    &:hover {
      border-color: var(--color-foreground-primary);
    }
    &:focus-within {
      border-color: var(--color-primary-60);
    }
  }

  @each $color in $type-color-semantics {
    @include prop(
      (
        'status': $color,
      )
    ) {
      @include elem('container') {
        &,
        &:hover,
        &:focus-within {
          border-color: var(--color-#{$color}-60);
        }
      }
    }
  }

  @include elem('prefix', 'suffix') {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;

    height: 100%;
    padding: 0 calc(var(--text-field-gap) * 1px);

    color: var(--color-foreground-secondary);
    background-color: var(--color-background-normal);
  }

  @include elem('prefix-icon', 'suffix-icon') {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;

    width: calc((var(--text-field-icon-size) + var(--text-field-gap)) * 1px);
    height: 100%;

    font-size: calc(var(--text-field-icon-size) * 1px);
    color: var(--color-foreground-secondary);
  }

  @include elem('prefix-icon') {
    padding-left: calc(var(--text-field-gap) * 1px);
  }
  @include elem('suffix-icon') {
    padding-right: calc(var(--text-field-gap) * 1px);
  }

  @include elem('input') {
    flex: 1;
    min-width: 0;
    max-width: 100%;
    height: 100%;
    padding: 0 calc(var(--text-field-gap) * 1px);

    border: none;
    outline: none;
    &:focus {
      outline: none;
    }

    color: inherit;
    background-color: transparent;

    &::placeholder {
      color: var(--color-foreground-secondary);
      opacity: var(--opacity-secondary);
    }
  }
}
