/**
 * Component: Progress Indicator
 */
@include comp('progress-indicator') {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;

  width: 100%;
  background-color: var(--progress-color-secondary);
  overflow: hidden;

  @include elem('bar') {
    position: relative;
    width: 100%;
    height: calc(var(--progress-indicator-thick) * 1px);
    background-color: var(--color-primary-60);

    transition: width linear var(--motion-duration-1);

    @include when('animation') {
      width: 0;
      min-width: (1/3) * 100%;
      background: rgba(0, 0, 0, 0)
        linear-gradient(to right, transparent, var(--color-primary-60), transparent)
        repeat scroll 0% 0%;

      @keyframes progress-indicator-animation {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(300%);
        }
      }
      animation: progress-indicator-animation 3s infinite;
    }
  }
}
