/**
 * Component: App
 */
@include comp('app') {
  position: relative;

  @include elem('bar') {
    $item-size: calc(var(--gap-base) * 8px);
    display: grid;
    grid-template-columns: repeat(3, $item-size) 1fr repeat(1, $item-size);
    grid-gap: calc(var(--gap-base) * 1px);
    padding: calc(var(--gap-base) * 1px);
    height: calc(var(--gap-base) * 10px);

    background-color: var(--color-background-higher);
    box-shadow: var(--depth-4);
  }

  @include elem('wrapper') {
    padding: calc(var(--gap-base) * 8px) 0;
  }

  @include elem('debug') {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    padding: calc(var(--gap-base) * 1px);
  }

  @include elem('debug-item') {
    flex: none;
    padding: calc(var(--gap-base) * 1px);
  }
}
