@import url('~normalize.css');

/**
 * Reset
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  @extend %variables-default;
}

body {
  color: var(--color-foreground-primary);
  background-color: var(--color-background-normal);

  font-size: calc(var(--font-size-base) * 1px);
  font-family: var(--font-family-base);
}

@for $level from 1 through 6 {
  h#{$level} {
    font-size: calc(var(--font-size-title-#{$level}) * 1px);
    line-height: calc(var(--line-height-title-#{$level}) * 1px);
  }
}
