/**
 * Component: AspectRatio
 */
@include comp('aspect-ratio') {
  position: relative;
  flex: 1 0 100%;
  width: 100%;
  max-width: 100%;
  min-width: 0;

  padding: 0;
  margin: 0;
  border: none;

  @include elem('frame') {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    padding: 0;
    margin: 0;
    border: none;

    padding-bottom: 100%;
  }

  @include elem('container') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;
    border: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    overflow: hidden;
  }
}
