/**
 * Component: Configs
 */
@include comp('configs') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  @include elem('wrapper') {
    .vd-flexbox {
      // border: rem($border-base) solid #cccccc;
    }
  }

  @include elem('label') {
    //
  }

  @include elem('text-input') {
    width: 100%;
    padding: rem(gap('small'));
    border: rem($border-base) solid;
  }

  @include elem('lang-icon') {
    $status-tone-map: (
      success: 'success',
      pending: 'warning',
      failed: 'danger',
    );
    @each $status, $tone in $status-tone-map {
      @include when($status) {
        color: tone($tone);
      }
    }
  }

  @include elem('about') {
    text-align: center;
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);

      @include elem('text-input') {
        color: theme($theme);
        background-color: theme($theme, 'bg', 'high');
        border-color: theme($theme, 'bd');
      }
    }
  }
}
