/**
 * Component: Configs
 */
@include comp('configs') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  @include elem('wrapper') {
    .vd-flexbox {
      // border: rem($border-base) solid #cccccc;
    }
  }

  @include elem('label') {
    //
  }

  @include elem('text-input') {
    width: 100%;
    height: rem(32);
  }

  @include elem('lang-icon') {
    $status-tone-map: (
      external: 'secondary',
      success: 'success',
      pending: 'warning',
      failed: 'danger',
    );
    @each $status, $tone in $status-tone-map {
      @include when($status) {
        color: tone($tone);
      }
    }
  }
}
